build --compilation_mode=opt
#build --cxxopt=-Wall --cxxopt=-Wextra

################################################################################
############################ Optional dependencies #############################
################################################################################

#build --define cbc=true
#build --define cplex=true

